<h1>Most Tagged Books Summary</h1>
<ul>
  <li><%= @params[:most_tagged_name] %>: <%= @params[:most_tagged_count] %></li>
  <li><%= @params[:second_most_tagged_name] %>: <%= @params[:second_most_tagged_count] %></li>
  <li><%= @params[:third_most_tagged_name] %>: <%= @params[:third_most_tagged_count] %></li>
</ul>
